section {
  height: 100%;
  width: 100%;
  background-color: #15202b;
}

.main {
  display: flex;
  height: 100%;
  background-color: #15202b;
}
.main__left {
  display: flex;
  z-index: 10;
  min-width: 285px;
  height: 100%;
  width: calc(100% - 600px - 55% + 285px);
}

.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  min-width: 600px;
  width: 600px;
  /* background-color: rgb(79, 85, 97); */
}

.main__new {
  width: 100%;
  height: 175px;
  padding: 54px 16px 16px 16px;
  justify-content: space-between;
  border-bottom: rgb(131, 131, 131, 0.5) 1px solid;
}
.new__start {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.main__new--pic {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: dodgerblue;
}
.main__new--text {
  width: 502px;
  padding: 12px 0;
  font-size: 1.3rem;
  color: white;
  background-color: transparent;
  border: none;
}
.main__new--text::placeholder {
  color: #8899a6;
}
.main__new--button {
  width: 92px;
  height: 34px;
  font-size: 1rem;
  border: dodgerblue 1px solid;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 12px;
}
.new__end {
  display: flex;
  justify-content: space-between;
  height: 48px;
  margin-top: 12px;
}
.main__new--menu {
  margin-left: 64px;
  margin-top: 12px;
}
.main__new--icon {
  width: 34px;
  height: 34px;
  font-size: 1.5rem;
  background-color: transparent;
  color: dodgerblue;
  border: none;
  border-radius: 50px;
}

.timeline {
  /* display: flex; */
  width: 100%;
  height: 100%;
}
.timeline__twit {
  padding: 12px 16px;
  width: 100%;
  height: 100px;
  border-bottom: rgb(131, 131, 131, 0.5) 1px solid;
  /* display: flex; */
}
.timeline__profile {
  width: 48px;
  height: 48px;
  margin-bottom: calc(76px - 48px);
  margin-right: 12px;
  border-radius: 50px;
  float: left;
  background-color: dodgerblue;
}
.timeline__info {
  display: flex;
  justify-content: space-between;
}
.timeline__text {
  display: flex;
  height: 22px;
  font-size: 1rem;
}
.timeline__name {
  color: white;
  font-weight: bold;
  padding-right: 4px;
}
.timeline__id,
.timeline__time,
.timeline__dot {
  height: 20px;
  color: #8899a6;
}
.timeline__dot {
  padding: 0 4px;
}
.timeline__more {
  width: 34px;
  height: 34px;
  font-size: 1.2rem;
  margin: -8px;
  background-color: transparent;
  border: none;
  color: #8899a6;
  border-radius: 50px;
}
.timeline__140 {
  padding: 0;
  color: white;
  font-size: 1rem;
}
.timeline__menu {
  display: flex;
  /* margin-top: 12px; */
  height: 32px;
  width: 425px;
  justify-content: space-between;
}
.timeline__menu--icon {
  width: 34px;
  height: 34px;
  font-size: 1.2rem;
  margin-top: 8px;
  background-color: transparent;
  border: none;
  color: #8899a6;
  border-radius: 50px;
}
.timeline__menu--icon:hover,
.timeline__more:hover,
.main__new--icon:hover {
  background-color: #1c3346;
  transition: all 0.3s;
  color: dodgerblue;
}
@media screen and (max-width: 1281px) {
  .main__left {
    min-width: 3%;
  }
}
@media screen and (max-width: 1095px) {
  .main__left {
    width: calc(10%);
  }
}
@media screen and (max-width: 1004px) {
  .main__left {
    min-width: 88px;
    width: calc(25% - 88px);
  }
}
